<ons-navigator animation="slide" var="app.navi" ng-controller="saveController">

  <ons-page id="task">
    <!-- header -->
    <head>
      ONAKAMA
    </head>

    <!-- main page -->
    <main>
      <div class="task">
        <span class="icon fa fa-shopping-cart"></span>
        <p class="task_name"></p>
      </div>
      <div class="task">
        <span class="icon fa fa-trash-o"></span>
        <h1 ng-model="save.message"></h1>
        <p class="task_name"></p>
      </div>
    </main>

    <!-- onsen UI -->
    <ons-fab position="bottom right" modifier="light" ng-click="app.navi.pushPage('taskinfo.html');">
      <ons-icon icon="md-plus"></ons-icon>
    </ons-fab>
  </ons-page>
</ons-navigator>
