*{
  box-sizing: border-box;
  background-color: rgba(230, 230, 150, .5);
}

head{
  font-size: 50px;
  text-align: center;
}

.task{
  width: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: "#FFFFBB"
}
